# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv
.envrc

# Exlcuding images
*.png
*.jpg
*.jpeg
imgs/*

# pre-commit
.pre-commit-config.yaml

# ?
.env
.db
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
